@model Market.Web.ViewModels.AccountInfoViewModel

@{
    ViewBag.Title = "ProvideData";
}


<div class="container">
    @using (Html.BeginForm("ProvideDataToBuyer", "Middleman"))
    {
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.BuyerId)
        @Html.HiddenFor(m => m.ModeratorId)
        @Html.HiddenFor(m => m.SellerId)
        <div class="row">
            <div class="col-lg-2">
                <label>Логин Steam</label>
            </div>
            <div class="col-lg-4">
                @Html.EditorFor(m => m.SteamLogin, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <label>Пароль Steam</label>
            </div>
            <div class="col-lg-4">
                @Html.EditorFor(m => m.SteamPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <label>Подтверждение пароля Steam</label>
            </div>
            <div class="col-lg-4">
                @Html.EditorFor(m => m.ConfirmSteamPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <label>Email Steam</label>
            </div>
            <div class="col-lg-4">
                @Html.EditorFor(m => m.SteamEmail, new { @class = "form-control" })
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
                <label>Пароль Steam</label>
            </div>
            <div class="col-lg-4">
                @Html.EditorFor(m => m.EmailPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <label>Подтверждение пароля Steam</label>
            </div>
            <div class="col-lg-4">
                @Html.EditorFor(m => m.ConfirmEmailPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <label>Дополнительная информация Steam</label>
            </div>
            <div class="col-lg-4">
                @Html.EditorFor(m => m.AdditionalInformation, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <input type="submit" value="Отправить" />
            </div>
        </div>
        <div class="form-group">
            @Html.ActionLink("Закрыть", "Close", "Order", new { id = Model.Id }, new { })
        </div>
    }
</div>
