@model IEnumerable<Market.Web.ViewModels.OfferViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="main-top-container">

       
        <div class="main-title">
            <div class="title-header">
                Купить или продать аккаунт
            </div>
            <div class="title-body">
                PlayerUp - торговая площадка для безопасной продажи и
                покупки игровых аккаунтов. Сделки проходят под контролем,
                с инструкциями и гарантиями системы. Удобно и безопасно.
            </div>
            <div class="mt-3">
                @Html.ActionLink("Купить аккаунт", "Buy", "Offer", null, new { @class="btn btn-buy-title mr-3" })
                @Html.ActionLink("Продать аккаунт", "Create", "Offer", null, new { @class = "btn btn-sell-title" })
            </div>


        </div>

        
    </div>
    <div class="main-offer-container">
        <div class="row">

            @foreach (var offer in Model)
            {
                <div class="col-lg-3">
                    <div class="card  mb-4">
                        <div class="card-body">
                            <div class="main-card-title" style="text-overflow: ellipsis">
                                @Html.ActionLink(offer.Header, "Details", "Offer", new { id = offer.Id }, null)
                            </div>

                                <div class="row mt-2 mb-2">

                                    @foreach (var filter in offer.FilterItems)
                                    {
                                        <div class="col-md-6">

                                            @if (filter.ImagePath == null)
                                            {
                                                <span>@filter.Name</span>
                                            }
                                            else
                                            {
                                                <img src="@filter.ImagePath" title="@filter.Name" style="width:100px" alt="@filter.Name" />
                                            }

                                        </div>
                                    }
                                </div>

                            <span class="text-700 font-size-18">@Html.DisplayFor(m => offer.Price)</span>
                        </div>
                        
                    </div>
                </div>
            }

        </div>
    </div>
</div>


@section scripts
{
    <script src="~/Scripts/jquery-rollingslider.js"></script>
    <script>
        $('#demo').RollingSlider({
            showArea: "#example",
            prev: "#jprev",
            next: "#jnext",
            moveSpeed: 300,
            autoPlay: false
        });
    </script>




}

