@using System.Globalization
@using Microsoft.AspNet.Identity

@model Market.Web.ViewModels.InfoUserProfileViewModel

@{
    ViewBag.Title = "Profile";
}


<div class="container">
    <div class="user-info-content">
        <div class="row">


            <div class="col-md-4">
                <div class="info-user-block" style="text-align:center">
                    <img class="img-circle" src="@Url.Action("Photo", "Profile", new { UserId = Model.Id })" alt="Alternate Text" style="width:150px; height:150px" />
                    @if (Model.Name == User.Identity.Name)
                    {
                        @Html.ActionLink("Обновить фотографию", "Upload", "Profile", null, new { @class = "btn btn-default", style = "width:220px;" })
                    }

                    <div class=" info-name">
                        <div class="row">
                            <div class="col-sm-7 info-name-nick">@Model.Name</div>
                            <div class="col-sm-5 info-name-contact">
                                <input id="contact" type="button" value="Связаться" class="btn-contact" />
                                @Html.HiddenFor(m => m.Id)
                            </div>
                        </div>
                    </div>
                    <div class="info-rate-date">
                        <div class="row">
                            <div class="col-sm-5 info-rate">Рейтинг: <span class="text-700">@Model.Rating</span></div>
                            <div class="col-sm-7 info-date">
                                Зарегистрирован @Model.RegistrationDate.ToShortDateString()
                            </div>
                        </div>
                    </div>

                    <div class="info-feedbacks">
                        <ul class="ul-info-rate">
                            <li class="row li-info-rate">
                                <div class="col-sm-8 text-left">
                                    <i class="info-rate-line icon-success icon-info-rate"></i>
                                    <span class="text-gray info-rate-label">Успешные сделки</span>
                                </div>

                                <div class="col-sm-4 text-right text-700">
                                    131
                                </div>
                            </li>
                            <li class="row li-info-rate">
                                <div class="col-sm-8 text-left">
                                    <i class="info-rate-line icon-total-reviews icon-info-rate"></i>
                                    <span class="text-gray info-rate-label">Всего отзывов</span>
                                </div>

                                <div class="col-sm-4 text-right text-700">
                                    @{ var p = Model.NegativeFeedbacks + Model.PositiveFeedbacks; }
                                    @p
                                </div>
                            </li>
                            <li class="row li-info-rate">
                                <div class="col-sm-8 text-left">
                                    <i class="info-rate-line icon-smile-pos-dark icon-info-rate"></i>
                                    <span class="text-gray info-rate-label">Позитивные отзывы</span>
                                </div>

                                <div class="col-sm-4 text-right text-700">
                                    @Model.PositiveFeedbackProcent%
                                </div>
                            </li>
                            <li class="row li-info-rate">
                                <div class="col-sm-8 text-left">
                                    <i class="info-rate-line icon-smile-neg-dark icon-info-rate"></i>
                                    <span class="text-gray info-rate-label">Негативные отзывы</span>
                                </div>

                                <div class="col-sm-4 text-right text text-700">
                                    @Model.NegativeFeedbackProcent%
                                </div>
                            </li>
                        </ul>

                    </div>
                    <div class="user-info-feedbackscore">
                        <div class="row">
                            <div class="col-sm-12"><p class="text-left user-info-title">Отзывы пользователя</p></div>
                            <div class="col-sm-6 text-left">




                                <i class="info-rate-line icon-smile-pos-green icon-info-rate"></i>


                                <span class="feedbacks-counter text-700">@Model.PositiveFeedbacks</span>



                            </div>
                            <div class="col-sm-6 text-right">




                                <i class="info-rate-line icon-smile-neg-gray icon-info-rate"></i>


                                <span class="feedbacks-counter text-700">@Model.NegativeFeedbacks</span>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-8">
                <div class="row">

                    <div class="col-lg-12">
                        <ul class="info-list">
                            <li class="info-menu-item offers-div active">Предложения</li>
                            <li class="info-menu-item feedbacks-div">Отзывы</li>
                        </ul>
                    </div>
                    <div class="col-lg-12">
                        <div id="list-info">



                        </div>

                    </div>

                </div>
                <div class="info-right-block">

                </div>
            </div>
        </div>

    </div>
</div>


<div id="modal-dialog" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Написать сообщение</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span id="close" aria-hidden="true">×</span>
                </button>
            </div>

            <input type="hidden" id="receiverId" name="ReceiverId" value="@Model.Id" />

            <div class="modal-body">

                <div class="form-group">
                    <img class="img-circle avatar-small" src="@Url.Action("Photo", "Profile" , new { UserId = Model.Id })" style="float:left; margin-right: 20px" alt="Alternate Text" />
                    <div>

                        @Html.ActionLink(Model.Name, "Info", new { })

                        <p>
                            @if (Model.IsOnline)
                            {
                                <span class="badge badge-pill badge-light">Online</span>
                            }
                            else
                            {
                                <span class="badge badge-pill badge-dark">Offline</span>
                            }
                        </p>


                    </div>
                </div>
                <div class="form-group">
                    @Html.TextBox("OfferHeader", "", new { @class = "form-control", id = "subject" })
                </div>
                <div class="form-group">
                    <textarea id="messageBody" class="form-control" rows="5"></textarea>
                </div>


            </div>
            <div class="modal-footer">
                <button id="sendMessage" type="button" onclick="SendMessage()" class="btn btn-info">Отправить</button>
            </div>



        </div>
    </div>
</div>

<div  id="m-dialog" class="modal-send">
    <div class="modal-dialog" role="document">
        <div id="m-content-send" class="modal-content-send">
            <div id="m-body" class="modal-body">
                <span class="text-white text" style="font-size: 18px">Ваше сообщение отправлено</span>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="receiver-id" value="@Model.Id" />
<input type="hidden" id="user-id" value="@Model.CurrentUserId" />
@section scripts
{
    <script type="text/javascript" src="~/Scripts/UserInfo.js">

    </script>
    <script type="text/javascript" src="~/Scripts/jquery-modal.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-modal-send.js"></script>
}