@using Microsoft.AspNet.Identity

@model Market.Web.ViewModels.InfoUserProfileViewModel

@{
    ViewBag.Title = Model.Name;
}

<div class="row">
    <div class="col-md-4">
        <div class="card info-user-block mb-3" style="text-align:center">
            <img class="img-circle img-center avatar-148" src="@Model.ImagePath" alt="Alternate Text" />
            <div class=" info-name">
                <div class="row">
                    <div class="col-sm-7 info-name-nick">
                        <h3><span class="text-700">@Model.Name</span></h3>
                    </div>
                    <div class="col-sm-5 info-name-contact">
                        @if (Model.Id == User.Identity.GetUserId())
                        {
                            <input id="contact" type="button" disabled value="Связаться" class="btn-contact-gray" />
                        }
                        else
                        {
                            <input id="contact" type="button" value="Связаться" class="btn-contact" />
                        }
                    </div>
                </div>
            </div>
            <div class="info-rate-date">
                <div class="row">
                    <div class="col-sm-5 info-rate">Рейтинг: <span class="text-700">@Model.Rating</span></div>
                    <div class="col-sm-7 info-date">
                        Зарегистрирован @Model.RegistrationDate.ToShortDateString()
                    </div>
                </div>
            </div>

            <div class="info-feedbacks">
                <ul class="ul-info-rate">
                    <li class="row li-info-rate">
                        <div class="col-sm-8 text-left">
                            <i class="info-rate-line icon-success icon-info-rate"></i>
                            <span class="text-gray info-rate-label">Успешные сделки</span>
                        </div>

                        <div class="col-sm-4 text-right text-700">
                            @Html.DisplayFor(m => m.SuccessOrderRate)
                        </div>
                    </li>
                    <li class="row li-info-rate">
                        <div class="col-sm-8 text-left">
                            <i class="info-rate-line icon-total-reviews icon-info-rate"></i>
                            <span class="text-gray info-rate-label">Всего отзывов</span>
                        </div>

                        <div class="col-sm-4 text-right text-700">
                            @Model.AllFeedbackCount
                        </div>
                    </li>
                    <li class="row li-info-rate">
                        <div class="col-sm-8 text-left">
                            <i class="info-rate-line icon-smile-pos-dark icon-info-rate"></i>
                            <span class="text-gray info-rate-label">Позитивные отзывы</span>
                        </div>

                        <div class="col-sm-4 text-right text-700">
                            @Model.PositiveFeedbackProcent%
                        </div>
                    </li>
                    <li class="row li-info-rate">
                        <div class="col-sm-8 text-left">
                            <i class="info-rate-line icon-smile-neg-dark icon-info-rate"></i>
                            <span class="text-gray info-rate-label">Негативные отзывы</span>
                        </div>

                        <div class="col-sm-4 text-right text text-700">
                            @Model.NegativeFeedbackProcent%
                        </div>
                    </li>
                </ul>

            </div>
            <div class="user-info-feedbackscore">
                <div class="row">
                    <div class="col-sm-12"><p class="text-left user-info-title">Отзывы пользователя</p></div>
                    <div class="col-sm-6 text-left">
                        <i class="info-rate-line icon-smile-pos-green icon-info-rate"></i>
                        <span class="feedbacks-counter text-700">@Model.PositiveFeedbacks</span>
                    </div>
                    <div class="col-sm-6 text-right">
                        <i class="info-rate-line icon-smile-neg-gray icon-info-rate"></i>
                        <span class="feedbacks-counter text-700">@Model.NegativeFeedbacks</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">

            <div class="col-lg-12">
                <ul class="info-list">
                    <li class="info-menu-item offers-div active">Предложения</li>
                    <li class="info-menu-item feedbacks-div">Отзывы</li>
                </ul>
            </div>
            <div class="col-lg-12">
                <div id="list-info">
                    @Html.Action("OfferListInfo","Offer", new { userId = Model.Id, game = "all" })
                </div>
            </div>
        </div>
        <div class="info-right-block">

        </div>
    </div>
</div>


<div id="modal-dialog" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Написать сообщение</h4>
                <button type="button" id="close" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <input type="hidden" id="receiverId" name="ReceiverId" value="@Model.Id" />

            <div class="modal-body">

                <div class="form-group">
                    <img class="img-circle avatar-48" src="@Model.ImagePath" style="float:left; margin-right: 20px" alt="Alternate Text" />
                    <div>

                        @Html.ActionLink(Model.Name, "Info", new { })
                        <p>
                            @Html.GetUserStatus(Model.Name, new { @class = "badge badge-pill badge-online" }, new { @class = "badge badge-pill badge-offline" })
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <textarea id="messageBody" class="form-control" rows="5"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button id="sendMessage" type="button" onclick="SendMessage()" class="btn btn-submit">Отправить</button>
            </div>
        </div>
    </div>
</div>

<div id="m-dialog" class="modal-send">
    <div class="modal-dialog" role="document">
        <div id="m-content-send" class="modal-content-send">
            <div id="m-body" class="modal-body">
                <span class="text-white text" style="font-size: 18px">Ваше сообщение отправлено</span>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="info-user-id" value="@Model.InfoUserId" />
<input type="hidden" id="receiver-id" value="@Model.Id" />
<input type="hidden" id="current-user-id" value="@Model.CurrentUserId" />

@section scripts
{
    <script type="text/javascript" src="~/Scripts/UserInfo.js">

    </script>
    <script type="text/javascript" src="~/Scripts/jquery-modal-send.js"></script>
}