
@{
    ViewBag.Title = "ControlPanel";
}

<div class="row">
    <div class="col-lg-12">
        <h2>ControlPanel</h2>

        <div class="bs-component">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#offers">Мои предложения</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#orders">Мои Заказы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active show" data-toggle="tab" href="#messages">Сообщения</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#settings">Настройки</a>
                </li>
            </ul>
            <div id="myTabCategories" class="tab-content">

                <div class="tab-pane fade" id="offers">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#all_offers">Все</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="orders">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#all_orders">Все</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="messages">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="@Url.Action("New","Message")">Новое сообщение</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#all">Все</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#sent">Отправленные</a>
                        </li>
                    </ul>
                </div>
                    
            </div>

            <div id="myTabContent" class="tab-content">
                    
                <div class="tab-pane fade" data-url="@Url.Action("New","Message")" id="new">
                        
                    @*@Html.Action("New", "Message")*@
                    @*@Html.Partial("~/Views/Message/Inbox.cshtml")*@
                </div>
                <div class="tab-pane fade" id="all">
                    @Html.Action("Inbox", "Message")
                    @*@Html.Partial("~/Views/Message/Inbox.cshtml")*@
                </div>
                <div class="tab-pane fade" id="sent">
                    @Html.Action("Sent", "Message")
                    @*@Html.Partial("~/Views/Message/Inbox.cshtml")*@
                </div>

                <div class="tab-pane fade" id="settings">
                    @Html.Action("Settings", "Account")
                    @*@Html.Partial("~/Views/Message/Inbox.cshtml")*@
                </div>

            </div>
        </div>
    </div>
</div>
