@model Market.Web.Models.RegisterViewModel
@{
    /**/

    ViewBag.Title = "Регистрация";
}

<div class="row">
    <div class="col-lg-5 auth-box" style="float: none; margin: 0 auto">

        @Html.Partial("_AuthMenu")

        <div class="auth-body">
            <div class="row">


                <div class="col-md-12">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(m => m.UserName, new { @class = "col-form-label  col-form-label-md" })
                  
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control form-control-md" })
                            @Html.ValidationMessageFor(m => m.UserName)
                          
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-form-label  col-form-label-md" })
                 
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-md" })
                            @Html.ValidationMessageFor(m => m.Email)
                   
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-form-label  col-form-label-md" })
                     
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-md" })
                            @Html.ValidationMessageFor(m => m.Password)
                         
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-form-label  col-form-label-md" })
                      
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-control-md" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                         
                        </div>
                        <div class="form-group text-center">
                            
                                <input type="submit" class="btn btn-submit" value="Зарегистрироваться" />
                           
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
