@model Market.Web.Models.UpdatePhoneNumberViewModel

<h2>Изменить номер телефона</h2>

@using (Html.BeginForm("UpdatePhoneNumber", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber, new { @class = "control-label" })

        @Html.PasswordFor(m => m.PhoneNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })

    </div>
    <div class="form-group">

        <input type="submit" class="btn btn-submit" value="Изменить номер телефона" />

    </div>
}


