
@{
    ViewBag.Title = "Часто задаваемые вопросы";
}
@Styles.Render("~/Content/accordion")

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Вопросы и ответы</h2>

        <ul class="accordion">
            <li>
                <a class="toggle" href="javascript:void(0);">О нашем сервисе</a>
                @Html.Partial("_FaqAboutUs")
            </li>
            <li>
                <a class="toggle" href="javascript:void(0);">Регистрация</a>
                @Html.Partial("_FaqRegistration")
            </li>

            <li>
                <a class="toggle" href="javascript:void(0);">Покупка / возврат средств</a>
                @Html.Partial("_FaqBuy")
            </li>

            <li>
                <a class="toggle" href="javascript:void(0);">Продажа / получение средств</a>
                @Html.Partial("_FaqSell")
            </li>

            <li>
                <a class="toggle" href="javascript:void(0);">Процесс сделки</a>
                @Html.Partial("_FaqOrder")

            </li>

            <li>
                <a class="toggle" href="javascript:void(0);">Аккаунт пользователя на сайте</a>
                @Html.Partial("_FaqAccount")

            </li>
        </ul>
    </div>
</div>

@section scripts
{

<script src="~/Scripts/Accordion.js"></script>


}


