@model Trader.WEB.Models.MessageListViewModel
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Story";

}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-info">
                <h2>Переписка</h2>
                <p class="lead">Здесь вы найдёте ответы на свои объявления, а также отосланные вами сообщения</p>
            </div>
            @{Html.RenderAction("AccountMenu", "Account"); }
            <div class="account-offer-container">
                @{Html.RenderPartial("_AccountMessagesMenu"); }
                <ul class="message-story">


                    @foreach (var message in Model.Messages)
                    {
                        string cls = "";
                        if (message.SenderId == User.Identity.GetUserId())
                        {
                            cls = "my";
                        }
                        <li class="message-div @cls">
                            <div class="message-body @cls">


                                <img class="img-circle message-body-avatar" src="@Url.Action("Photo", "Profile" , new { UserId = message.SenderId })" alt="Alternate Text" />


                                <div class="message-body-text">@Html.ActionLink(message.SenderId, "SomeAct", "Controller", null, new { @class = "user" }) <span class="date">@message.CreatedDate</span></div>



                                <div class="message-body-text">@message.MessageBody</div>



                            </div>
                        </li>
                    }
                </ul>
                <div class="col-md-8">
                    @using (Html.BeginForm("New", "Message", new { subject = Model.Messages.LastOrDefault().Subject }, FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()                        

                        <div class="form-group">
                            @Html.Label("MessageBody")
                            @Html.TextArea("MessageBody", new { @class = "form-control" })
                        </div>

                        <input type="submit" value="Отправить" />
                    }
                </div>
                @*<table class="table table-hover">
                        <tr>
                            <th>Предложение</th>
                            <th>Сообщение</th>
                            <th>@Html.ActionLink("Отправитель", "Inbox", "Message", new { sortOrder = ViewData["NameSortParm"], currentFilter = ViewData["SearchString"] }, null)</th>
                            <th>@Html.ActionLink("Дата", "Inbox", "Message", new { sortOrder = ViewData["DateSortParm"], currentFilter = ViewData["SearchString"] }, null)</th>
                        </tr>
                        @foreach (var message in Model.Messages)
                        {
                            var cls = "";
                            if(message.SenderId == User.Identity.GetUserId())
                            {
                                cls = "table-success";
                            }
                            <tr class="@cls">
                                <td>@message.Subject</td>
                                <td>@message.MessageBody</td>
                                <td>@message.SenderName</td>
                                <td>@message.CreatedDate</td>
                            </tr>
                        }

                    </table>*@
                @*<div class="row">
                        <div class="col-md-12">
                            @Html.PageLinks(Model.PagingInfo, x => Url.Action("Story", new { page = x, sortOrder = ViewBag.CurrentSort, searchString = ViewBag.SearchString }))
                        </div>
                    </div>*@
            </div>
        </div>

    </div>
</div>

