@model Market.Web.ViewModels.OfferViewModel

<tr>
    <td>@Model.Game.Name</td>
    <td>
        <div class="row text-left">
            <div class="col-sm-12">
                <span>
                    @Model.Header
                </span>

            </div>
        </div>
        <div class="row  text-left">
            <div class="col-sm-12">
                &#9755 @Html.ActionLink("Просмотреть", "Details", "Offer", new { id = Model.Id }, new { @class = "font-size-12 mr-2" })
                &#9998 @Html.ActionLink("Редактировать", "Edit", "Offer", new { id = Model.Id }, new { @class = "font-size-12 mr-2" })
                &#10006 @Html.ActionLink("Удалить", "Delete", "Offer", new { id = Model.Id }, new { @class = "font-size-12 mr-2" })
            </div>

        </div>
    </td>
    <td>
        <div class="row">
            <div class="col-sm-12">
                <span class="font-size-12">С: @Model.DateCreated.ToShortDateString()</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <span class="font-size-12">До: @Model.DateDeleted.ToShortDateString()</span>
            </div>
        </div>
    </td>
    <td><span class="text-700">@Html.DisplayFor(m => m.Price)</span> </td>
    <td>@Html.ActionLink("Активировать", "Activate", "Offer", new { id = Model.Id }, new { @class = "btn btn-activate font-size-14" })</td>

</tr>

