@model Market.Web.ViewModels.OfferViewModel

<div class="col-lg-12">
    <div class="card mb-3">
        <div class="card-body">
            <div class="card-title" style="text-overflow: ellipsis">
                <span class="font-size-18">
                    @Html.ActionLink(@Model.Header, "Details", new { id = Model.Id }, new { @class = "text-300" })
                </span>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="item-rating mb-3">
                        <img class="img-circle avatar-48 mr-2" align="left" src="@Model.User.ImagePath" alt="Alternate Text" />
                        @Html.ActionLink(Model.UserName, "Info", "Profile", new { userName = Model.UserName }, null)
                        <br />
                        Рейтинг <span class="text-700">@Model.Rating</span>
                        <br />
                        <div class="status">                            
                            @Html.GetUserStatus(Model.UserName, new { @class= "badge badge-pill badge-online" }, new { @class = "badge badge-pill badge-offline" })                                                           
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="row">

                        @foreach (var filter in Model.FilterFilterItem)
                        {
                            <div class="col-md-6" style="margin:0 auto;">
                                <div class="mb-3">
                                    <span>@filter.Key.Text</span>
                                </div>
                                @if (filter.Value.ImagePath == null)
                                {
                                    <span>@filter.Value.Name</span>
                                }
                                else
                                {
                                    <img src="@filter.Value.ImagePath" title="@filter.Value.Name" style="width:100px" alt="@filter.Value.Name" />
                                }
                            </div>
                        }
                    </div>
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-sm-3 text-right">
                    <div class="mb-2">
                        <span id="offer_price" style="font-weight: 400; font-size: 24px">@Html.DisplayFor(m => m.Price)</span>
                    </div>
                    <div class="mb-2">
                        @if (Model.SellerPaysMiddleman)
                        {
                            <span style="color:green">Гарант за счет продавца @Html.DisplayFor(m => m.MiddlemanPrice)</span>
                        }
                        else
                        {
                            <span style="color:red">Гарант за ваш счет @Html.DisplayFor(m => m.MiddlemanPrice)</span>
                        }
                    </div>
                    <div class="mb-2">
                        @Html.ActionLink("Подробнее", "Details", new { id = Model.Id }, new { @class = "btn btn-details" })
                    </div>
                    <div>
                        @Html.ActionLink("Купить", "Checkoutme", "Checkout", new { id = Model.Id }, new { @class = "btn btn-buy" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
