@model Market.Web.ViewModels.SearchViewModel
@{
    ViewBag.Title = "Купить аккаунт " + Model.Game;
}

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-secondary">
            <p>
                У нас вы можете купить аккаунт @Model.GameName по самым низким ценам, которые задают сами продавцы. Мы гарантируем безопасную сделку
                в которой покупатель получит рабочий аккаунт, а продавец - деньги.
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="game-filter" id="game-filter">
            @foreach (var g in Model.Games)
            {
                <a class="game-filter-item @Html.IsSelectedGame(games: g.Value, actions: "buy", controllers: "offer")" href="@Url.Action("Buy", "Offer", new { game = g.Value })">
                    <div><img src="@g.ImagePath" style="width:40px" alt="@g.Name" title="@g.Name" /></div>
                </a>
            }
        </div>
    </div>
    <div class="col-lg-12 mb-2">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="game-title">Аккаунты @Model.GameName </h1>
            </div>
            <div class="col-sm-6 text-right">
                @Html.ActionLink("Продать аккаунт", "Create", null, new { @class = "btn btn-link-sell" })
            </div>
        </div>


    </div>
</div>
<div class="row">
    @Html.Partial("_SearchPanel", Model)
    <div class="col-lg-9">
        <div id="list">
        </div>
    </div>
</div>
<input type="hidden" name="Game" id="game" value="@Model.Game" />
<input type="hidden" name="Page" id="page" value="@Model.Page" />
<input type="hidden" name="" id="minGamePrice" value="@Model.MinGamePrice" />
<input type="hidden" name="" id="maxGamePrice" value="@Model.MaxGamePrice" />

<input type="hidden" name="SearchString" id="searchString" value="@Model.SearchString" />
<script src="@RouteJs.RouteJsHandler.HandlerUrl"></script>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/Filters.js"></script>

    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/Custom")

    <script>
        
    </script>
}