@model Market.Web.ViewModels.OfferListViewModel
@{
    ViewBag.Title = "Купить аккаунт " + Model.SearchInfo.GameName + " Лучшие цены | Гарант | Безопасные сделки";
    ViewBag.Description = "У нас вы можете купить аккаунт " + Model.SearchInfo.GameName + " по самым низким ценам, которые задают сами продавцы. Мы гарантируем безопасную сделку " +
                "в которой покупатель получит рабочий аккаунт, а продавец - деньги. Выбирайте себе аккаунт на нашем сайте!";
}


@*<div class="row">
        <div class="col-lg-12">
            <div class="alert alert-secondary">
                <p>
                    У нас вы можете купить аккаунт @Model.GameName по самым низким ценам, которые задают сами продавцы. Мы гарантируем безопасную сделку
                    в которой покупатель получит рабочий аккаунт, а продавец - деньги.
            </div>
        </div>
    </div>*@


<div class="row">
    <div class="col-lg-12">
        <div class="game-filter" id="game-filter">
            @foreach (var g in Model.Games)
            {
                <a class="game-filter-item @Html.IsSelectedGame(games: g.Value, actions: "buy", controllers: "offer")" href="@Url.Action("Buy", "Offer", new { game = g.Value })">
                    <div><img src="@Url.Content(g.ImagePath) " style="width:40px" alt="@g.Name" title="@g.Name" /></div>
                </a>
            }
        </div>
    </div>
    <div class="col-lg-12 mb-2">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="game-title">Купить аккаунт @Model.SearchInfo.GameName </h1>
            </div>
            <div class="col-sm-6 text-right">
                @Html.ActionLink("Продать аккаунт", "Create", null, new { @class = "btn btn-link-sell" })
            </div>
        </div>


    </div>
</div>
<div class="row">
    @{Html.RenderPartial("_SearchPanel", Model.SearchInfo);}
    <div class="col-lg-9">
        <div id="list">
            <div class="row mt-2" id="lll">
                <div class="col-lg-12">
                    <div class="bs-component">
                        @if (Model.Offers.Any())
                        {
                            <div class="row mb-3 sort">
                                <div class="col-md-7 sort-counter">
                                    <h4 class="mb-0 font-weight-light"> Найдено предложений: <span class="font-weight-bold">@Model.PageInfo.TotalItems</span></h4>
                                </div>
                                <div class="col-md-5">
                                    @Html.DropDownListFor(m => m.SearchInfo.Sort, Model.SearchInfo.SortItems, new { @class = "custom-select", id = "select-sort", onchange = "SortChange()" })

                                </div>
                            </div>
                            <div class="row">
                                @foreach (var offer in Model.Offers)
                                {
                                    Html.RenderPartial("_offerItem", offer);

                                }
                                <div class="col-md-12">
                                    @Html.PagedListPager(Model.PageInfo, "SelectPage")
                                </div>
                            </div>
                        }

                        else
                        {
                            <div class="row">
                                <div class="mt-5 col-md-12 text-center">
                                    Нет результатов
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="Game" id="game" value="@Model.SearchInfo.Game" />
<input type="hidden" name="Page" id="page" value="@Model.SearchInfo.Page" />
<input type="hidden" name="" id="minGamePrice" value="@Model.SearchInfo.MinGamePrice" />
<input type="hidden" name="" id="maxGamePrice" value="@Model.SearchInfo.MaxGamePrice" />

<input type="hidden" name="SearchString" id="searchString" value="@Model.SearchInfo.SearchString" />
<script src="@RouteJs.RouteJsHandler.HandlerUrl"></script>



@section scripts
{
   
    @Scripts.Render("~/bundles/search-panel")
}