@using System.Globalization
@model Market.Web.ViewModels.DetailsOfferViewModel

@{
    ViewBag.Title = "Details";
}

<link rel="stylesheet" href="/resources/demos/style.css">
<div class="container">
    <div class="main-block">
        <div class="row">
            <div class="col-md-3">
                <div class="details-user-block">
                    <img class="img-circle" src="@Url.Action("Photo", "Profile", new { UserId = Model.UserProfile.Id })" alt="Alternate Text" style="width:80px; height:80px" />

                    <div class="details-user-name-contact">
                        <div class="row">
                            <div class="col-lg-6 details-user-block-name">
                                @Model.UserProfile.Name
                            </div>
                            <div class="col-lg-6 details-user-block-contact">
                                <input id="contact" type="button" value="Связаться" class="btn-contact" />
                                @Html.HiddenFor(m => m.UserProfile.Id)
                            </div>
                        </div>
                    </div>

                    <div class="details-user-rate-date">
                        <div class="row">
                            <div class="col-sm-5 details-user-block-rate">Рейтинг: <span class="text-700">@Model.UserProfile.Rating</span></div>
                            <div class="col-sm-7 details-user-block-date">
                                Зарегистрирован @Model.UserProfile.RegistrationDate.ToShortDateString()
                            </div>
                        </div>
                    </div>
                    <div class="details-user-feedback">
                        <div class="row">
                            <div class="col-sm-6 text-left">
                                <i class="info-rate-line icon-smile-pos-green icon-info-rate"></i>
                                <span class="feedbacks-counter text-700">@Model.UserProfile.Positive</span>
                            </div>
                            <div class="col-sm-6 text-right">
                                <i class="info-rate-line icon-smile-neg-gray icon-info-rate"></i>
                                <span class="feedbacks-counter text-700">@Model.UserProfile.Negative</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-5">
                <div class="details-offer-block">
                    <ul>
                        <li class="li-details">
                            <label class="label-details">Игра</label>
                            @Html.DisplayFor(m => m.Game.Name)
                        </li>
                        <li class="li-details">
                            <label class="label-details">Просмотры</label>
                            <span>@Model.Views</span>
                        </li>
                        <li class="li-details">
                            <label class="label-details">Дата создания</label>
                            <span>@Model.DateCreated.Value.ToShortDateString()</span>

                        </li>
                    </ul>
                    <div class="col-sm-12">

                        <div class="row offer-details-rank">
                            @foreach (var filter in Model.Filters)
                            {
                                <div class="col-md-6">
                                    <span>@filter.Text</span>
                                </div>
                            }
                            @foreach (var item in Model.FilterItems)
                            {
                                var url = "../../Content/Images/" + Model.Game.Value + "/Ranks/" + item.Image;
                                <div class="col-md-6">

                                    <img src="@url" style="width:100px" alt="Alternate Text" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="offer-description-block" style="height: 300px">
                    <div style="text-align:center">
                        <h3>@Html.DisplayFor(m => m.Price)</h3>
                    </div>
                    <div style="text-align:center">
                        @Html.ActionLink("Купить", "Pay", "Checkout", new { offerId = Model.Id, sellerId = Model.UserProfile.Id }, null);
                        @using (Html.BeginForm("Pay", "Checkout"))
                        {
                            @Html.HiddenFor(m => m.Id)
                            <input type="submit" name="buy" value="Купить" class=" btn btn-success" />
                        }

                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 offer-description">

                <div class="offer-description-block" style="height: 300px">
                    <div class="block-label">@Model.Header</div>
                    <div class="block-body">
                        <span>@Model.Discription</span>
                    </div>



                </div>




            </div>
        </div>
    </div>

    <div class="row" id="feedback-list">

        @*@Html.Partial("_FeedbackList",Model.UserProfile.Feedbacks)*@
        @Html.Action("FeedbackList", "Feedback", new { page = 1, receiverId = Model.UserProfile.Id, filter = "all" })

    </div>

</div>



<div id="modal-dialog" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Написать сообщение</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span id="close" aria-hidden="true">×</span>
                </button>
            </div>

            <input type="hidden" id="receiverId" name="ReceiverId" value="@Model.UserProfile.Id" />

            <div class="modal-body">

                <div class="form-group">
                    <img class="img-circle avatar-small" src="@Url.Action("Photo", "Profile" , new { UserId = Model.UserProfile.Id })" style="float:left; margin-right: 20px" alt="Alternate Text" />
                    <div>

                        @Html.ActionLink(Model.UserProfile.Name, "Info", new { })

                        <p>
                            @if (Model.UserProfile.IsOnline)
                            {
                                <span class="badge badge-pill badge-light">Online</span>
                            }
                            else
                            {
                                <span class="badge badge-pill badge-dark">Offline</span>
                            }
                        </p>


                    </div>
                </div>
                <div class="form-group">
                    <textarea id="messageBody" class="form-control" rows="5"></textarea>
                </div>


            </div>
            <div class="modal-footer">
                <button id="sendMessage" type="button" onclick="SendMessage()" class="btn btn-info">Отправить</button>
            </div>



        </div>
    </div>
</div>

<div id="m-dialog" class="modal-send">
    <div class="modal-dialog" role="document">
        <div id="m-content-send" class="modal-content-send">
            <div id="m-body" class="modal-body">
                <span class="text-white text" style="font-size: 18px">Ваше сообщение отправлено</span>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="page" value="1" />
<input type="hidden" id="filter" value="all" />
<input type="hidden" id="receiver-id" value="@Model.UserProfile.Id" />


@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery-modal-send.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-modal.js"></script>
    <script>
        function SelectPage(page) {

            $('#page').val(page);
            SearchFeedbacks();
        }
        function SearchFeedbacks() {
            var message = {
                "page": $('#page').val(),
                "filter": $('#filter').val(),
                "receiverId": $('#receiver-id').val()
            };
            $.ajax({
                url: '/Feedback/FeedbackList',
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(message),
                dataType: "html",
                beforeSend: function () {
                    $('#loader').show();

                },
                success: function (response) {

                    $('#feedback-list').html(response);
                    $('#loader').hide();

                    //SelectFilterItem(g, false);
                },
                error: function () {
                    alert("fff");
                }
            });
        }
    </script>
}