@using Microsoft.AspNet.Identity

@model Market.Web.ViewModels.DetailsOfferViewModel

@{
    ViewBag.Title = "Информация о предложении";
}
<div class="nav-row">
    <div class="row">

        <div class="col-md-1">
            <i class="back-arrow"></i>
            <a class="back-link" href="javascript:history.back()"> Назад</a>
        </div>
        <div class="col-md-11">
            <ul class="ul-nav">
                <li>
                    @Html.ActionLink("Аккаунты", "Buy", "Offer", new { game = Model.Game.Value }, null)

                </li>
                <li>
                    @Html.ActionLink(Model.Game.Name, "Buy", "Offer", new { game = Model.Game.Value }, null)


                </li>
            </ul>
        </div>
    </div>
</div>
@*<link rel="stylesheet" href="/resources/demos/style.css">*@
    <div class="main-block">
        <div class="row">
            <div class="col-md-3">
                <div class="card details-user-block mb-3">
                    <img alt="Аватар" class="img-circle img-center" src="@Model.UserProfile.Avatar96Path" style="width:96px; height:96px" />

                    <div class="details-user-name-contact">
                        <div class="row">
                            <div class="col-lg-6 details-user-block-name">
                                @Model.UserName
                            </div>
                            <div class="col-lg-6 details-user-block-contact">
                                @if (Model.UserId == User.Identity.GetUserId())
                                {
                                    <input id="contact" type="button" disabled value="Связаться" class="btn-contact-gray" />
                                }
                                else
                                {
                                    <input id="contact" type="button" value="Связаться" class="btn-contact" />
                                }
                                @Html.HiddenFor(m => m.UserId)
                            </div>
                        </div>
                    </div>

                    <div class="details-user-rate-date">
                        <div class="row">
                            <div class="col-sm-5 details-user-block-rate">Рейтинг: <span class="text-700">@Model.Rating</span></div>
                            <div class="col-sm-7 details-user-block-date">
                                Зарегистрирован @Model.UserProfile.RegistrationDate.ToShortDateString()
                            </div>
                        </div>
                    </div>
                    <div class="details-user-feedback">
                        <div class="row">
                            <div class="col-sm-6 text-left">
                                <i class="info-rate-line icon-smile-pos-green icon-info-rate"></i>
                                <span class="feedbacks-counter text-700">@Model.UserProfile.PositiveFeedbackCount</span>
                            </div>
                            <div class="col-sm-6 text-right">
                                <i class="info-rate-line icon-smile-neg-gray icon-info-rate"></i>
                                <span class="feedbacks-counter text-700">@Model.UserProfile.NegativeFeedbackCount</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-5">
                <div class="card details-offer-block  mb-3">
                    <ul>
                        <li class="li-details">
                            <label class="label-details">Игра</label>
                            @Html.DisplayFor(m => m.Game.Name)
                        </li>
                        <li class="li-details">
                            <label class="label-details">Просмотры</label>
                            <span>@Model.Views</span>
                        </li>
                        <li class="li-details">
                            <label class="label-details">Дата создания</label>
                            <span>@Model.DateCreated.Value.ToShortDateString()</span>

                        </li>
                    </ul>
                    <div class="col-sm-12">

                        <div class="row offer-details-rank">
                            @foreach (var filter in Model.FilterItems)
                            {
                                <div class="col-md-6" style="margin:0 auto;">
                                    <div class="mb-3">
                                        <span>@filter.Filter.Text</span>
                                    </div>
                                    @if (filter.ImagePath == null)
                                    {
                                        <span>@filter.Name</span>
                                    }
                                    else
                                    {
                                        <img src="@filter.ImagePath" title="@filter.Name" style="width:100px" alt="@filter.Name" />
                                    }

                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card offer-buying-block mb-3" style="height: 300px">
                    <div style="text-align:center">
                        <p class="price">@Html.DisplayFor(m => m.Price)</p>
                    </div>
                    <div class="text-center mb-4">
                        @using (Html.BeginForm("Checkoutme", "Checkout", FormMethod.Get))
                        {
                            <input type="hidden" name="Id" value="@Model.Id" />

                            <input type="submit" value="Купить" class=" btn btn-buy-big font-size-18" />
                        }

                    </div>

                    <div class="text-center text-700">
                        @if (Model.SellerPaysMiddleman)
                        {
                            <span>
                                Гарант за счет
                                продавца: @Html.DisplayFor(m => m.MiddlemanPrice)
                            </span>
                        }
                        else
                        {
                            <span>
                                Гарант за ваш счет: @Html.DisplayFor(m => m.MiddlemanPrice)
                            </span>
                        }
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card" style="min-height: 300px">
                    <div class="block-label">@Model.Header</div>
                    <div class="block-body">
                        <span>@Model.Discription</span>

                        @foreach (var image in Model.ScreenshotPathes)
                        {
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <img class="details-screenshot" src="@image.Value" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="feedback-list">
        @Html.Action("FeedbackList", "Feedback", new { userId = Model.UserId })

    </div>




<div id="modal-dialog" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Написать сообщение</h4>
                <button type="button" id="close" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <input type="hidden" id="receiverId" name="ReceiverId" value="@Model.UserId" />

            <div class="modal-body">

                <div class="form-group">
                    <img alt="Аватар" height="48" width="48" class="img-circle" src="@Model.UserProfile.Avatar48Path" style="float:left; margin-right: 20px" />
                    <div>
                        @Html.ActionLink(Model.UserName, "Info", new { })
                        <p>
                            @Html.GetUserStatus(Model.UserName, new { @class = "badge badge-pill badge-online" }, new { @class = "badge badge-pill badge-offline" })
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <textarea id="messageBody" class="form-control" rows="5"></textarea>
                </div>


            </div>
            <div class="modal-footer">
                <button id="sendMessage" type="button" onclick="SendMessage()" class="btn btn-submit">Отправить</button>
            </div>
        </div>
    </div>
</div>

<div id="m-dialog" class="modal-send">
    <div class="modal-dialog" role="document">
        <div id="m-content-send" class="modal-content-send">
            <div id="m-body" class="modal-body">
                <span class="text-white text" style="font-size: 18px">Ваше сообщение отправлено</span>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="page" value="1" />
<input type="hidden" id="filter" value="all" />
<input type="hidden" id="user-id" value="@Model.UserProfile.Id" />


@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery-modal-send.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-feedback-details.js">
        
        
    </script>
}