@using System.Globalization
@model Trader.DAL.Entities.OfferViewModel

@{
    ViewBag.Title = "Edit";
}

<div class="container">
    <div class="col-lg-12" style="align-items: center; display: flex; justify-content: center">
        <div class="col-lg-8 " style="margin-top:30px">

            @using (Html.BeginForm("Edit", "Offer", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.UserProfileId)

                <div class="form-group">
                    @Html.LabelFor(m => m.Games, new { @class = "control-label" })


                    @Html.EditorFor(m => m.Game, "EnumGames", new { games = Model.Games })


                </div>
                <div class="form-group">
                    <div id="rank"></div>
                    @*@Html.LabelFor(m => m.FilterByList, new { @class = "control-label" })
                        @Html.EditorFor(m => m.Filter, "EnumRanks", new { ranks = Model.GetRanks(Model.Game) })*@
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.SteamLogin, new { @class = "control-label" })

                    @Html.EditorFor(m => m.SteamLogin, "SteamLoginTemplate")

                    

                </div>


                <div class="form-group">
                    @Html.LabelFor(m => m.Header, new { @class = "control-label" })

                    @Html.EditorFor(m => m.Header, "HeaderTemplate")

                    @Html.ValidationMessage("Header")

                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Discription, new { @class = "control-label" })

                    @Html.EditorFor(m => m.Discription, "DiscriptionTemplate")
                    @Html.ValidationMessageFor(m => m.Discription)
                </div>

                <div class="form-group">

                    <div class="col-md-4" style="padding: 0px; margin-right: 40px">
                        @Html.LabelFor(m => m.Price, new { @class = "control-label" })
                        <div class="input-group">

                            <div class="input-group-prepend">
                                <span class="input-group-text">@NumberFormatInfo.CurrentInfo.CurrencySymbol</span>
                            </div>

                            @Html.EditorFor(m => m.Price, "PriceTemplate")
                            @Html.ValidationMessageFor(m => m.Price)
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4" style="padding: 0px">
                        @Html.Label("Получите:", new { @class = "control-label" })
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">@NumberFormatInfo.CurrentInfo.CurrencySymbol</span>
                            </div>
                            @Html.TextBox("EstPrice", "", new { @class = "form-control", id = "EstimatedPayout", @readonly = "" })
                        </div>

                    </div>
                </div>

                <div class="confirm-buton">
                    <div class="form-group">
                        <input class="btn btn-info btn-lg" type="submit" name="edit" value="Применить" />
                    </div>
                </div>
                
            }
        </div>
    </div>
</div>



@section scripts
                {
    @*Ненавязивый JavaScript для выполнения запроса на сервер без полного обновления страницы*@
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/myScripts.js"></script>
    <script>
        $(document).ready(function () {
            ajaxRanks('@Model.Game', false);
            CalcPrice($("#ListingPrice").val());
        });
    </script>

}