@model Market.Web.ViewModels.EditUserProfileViewModel

@{
    ViewBag.Title = "EditGame";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("EditUser", "Admin",
        FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        <label class="control-label">Ник</label>
        @Html.EditorFor(m => m.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label class="control-label">Почта</label>
        @Html.EditorFor(m => m.Email, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label class="control-label">Почта подтверждена</label>
        @Html.EditorFor(m => m.EmailConfirmed, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label class="control-label">Номер телефона</label>
        @Html.EditorFor(m => m.PhoneNumber, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label class="control-label">Номер телефона не подтверджен</label>
        @Html.EditorFor(m => m.PhoneNumberConfirmed, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label class="control-label">Дата регистрации</label>
        @Html.EditorFor(m => m.RegistrationDate, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label class="control-label">Баланс</label>
        @Html.EditorFor(m => m.Balance, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <div style="position:relative;">
            <label>Картинка</label>
            <img id="blah" src="@Model.ImagePath" alt="your image" />
            <a class='btn' href='javascript:;'>
                <input type="file" name="Image" size="40" class="form-control-file" onchange='readURL(this)'>
            </a>

        </div>

    </div>
    <div class="panel-footer">
        <input type="submit" value="Сохранить" class="btn btn-primary" />
    </div>
}

@section scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
        function DrowImage() {


            $('#upload-file-info').text($(this).val());



        }
    </script>
}