@model Market.Web.ViewModels.DialogListViewModel

@{
    ViewBag.Title = "Входящие сообщения";

}
<table class="table table-striped table-bordered table-light table-sm">
    <tr>
        <th>
            Диалог с
        </th>
        <th>
            ввв
        </th>
        <th>
            ацац
        </th>
        <th>

        </th>
    </tr>
    @foreach (var dialog in Model.Dialogs)
    {

        var clsBold = "";
        if (dialog.CountOfNewMessages != 0)
        {
            clsBold = "warning-row";
        }

        <tr class="@clsBold">

            <td id="dialog-name">
                @if (dialog.CountOfNewMessages != 0)
                {
                    <div class="messagess-count message-count-block-pos" id="dialog-block-counter">
                        @dialog.CountOfNewMessages
                    </div>
                }

                <img class="img-circle avatar-48 mr-2" src="@dialog.otherUserImage" alt="Alternate Text" />

                @dialog.otherUserName
            </td>

            <td style=" max-width: 100px;overflow: hidden;text-overflow: ellipsis; white-space: nowrap; "><span id="message-text" class="wqe" style="">@dialog.Messages.LastOrDefault().MessageBody</span></td>
            <td title="@dialog.Messages.LastOrDefault().CreatedDate.ToShortTimeString()">@dialog.Messages.LastOrDefault().CreatedDate.ToShortDateString()</td>
            <td>
                @Html.ActionLink("Детали", "Details", new { dialogId = dialog.Id })
            </td>
        </tr>

    }
</table>
