
@{
    ViewBag.Title = "AccountMenu";
    Layout = null;
}

<div class="row">
    <div class="col-lg-12">
        <ul class="account-list" id="account-list">
            <li class="account-menu-item">@Html.ActionLink("Cообщения", "Inbox", "Message")</li>
            <li class="account-menu-item">@Html.ActionLink("Предложения", "Active", "Offer")</li>
            <li class="account-menu-item">@Html.ActionLink("Заказы", "OrderBuy", "Order")</li>
            <li class="account-menu-item">@Html.ActionLink("Отзывы", "All", "Feedback")</li>
            <li class="account-menu-item">@Html.ActionLink("Настройки", "Settings", "Account")</li>
        </ul>
    </div>
</div>

@section scripts
{
    

    <script src="~/Scripts/AccountMenu.js">
        
    </script>

   

}



