@model Market.Web.Models.ConfirmPhoneNumberViewModel

<h2>Подтверждение номера телефона</h2>

@using (Html.BeginForm("UpdateEmail", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @if (Model.IsConfirmed)
        {
            <div class="alert alert-dismissible alert-success">
                <p>Ваш номер телефона <span class="text-700">@Model.PhoneNumber</span> подтвержден</p>
            </div>

        }
        else
        {

            <div class="alert alert-dismissible alert-warning">
                <p>Вы не привязали свой номер телефона @Html.ActionLink("Привязать номер", "AddPhoneNumber", "Account")</p>
            </div>

        }

    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

