@using Market.Model.Models
@using Market.Web.Helpers
@model Market.Web.ViewModels.FeedbackListViewModel

<div class="info-teble-content">
    <div class="feedback-filter">



    </div>

    <div class="table-feedbacks">
        <div class="feedback-line">
            <div class="feedback-grade">

            </div>
            <div class="feedback-comment">
                Отзыв
            </div>
            <div class="feedback-sender">
                Кто оставил
            </div>
            <div class="feedback-date">
                Дата
            </div>
        </div>
        
        @foreach (var feedback in Model.Feedbacks)
        {
            <div class="feedback-line">
                <div class="feedback-grade">
                    @if (feedback.Grade == Emotions.Good)
                    {
                        <i class="info-rate-line icon-smile-pos-green icon-info-rate" style="height:24px"></i>
                    }
                    else
                    {
                        <i class="info-rate-line icon-smile-neg-gray icon-info-rate" style="height:24px"></i>
                    }
                </div>
                <div class="feedback-comment">
                    <p>@feedback.Comment</p>
                    <p class="text-gray">@feedback.OfferHeader</p>
                </div>
                <div class="feedback-sender">
                    @feedback.SenderName
                </div>
                <div class="feedback-date">
                    @feedback.DateLeft.Value.ToShortDateString()
                </div>
            </div>

        }
    </div>
    <input type="hidden" id="page" value="1" />
</div>


@Html.PagedListPager(Model.PageInfo, "SelectPageFeedbacksInfo")