@using System.Globalization
@using Microsoft.AspNet.Identity
@using Market.Model.Models
@using Market.Web.Helpers
@model Market.Web.ViewModels.FeedbackListViewModel

@*<table class="table table-striped">
        @foreach (var feedback in Model)
        {
            <tr>
                @if (feedback.Grade == Emotions.Good)
                {
                    <td><img src="~/Content/Images/smile-pos.png" style="width: 25px; height: 25px; vertical-align:bottom"/></td>
                }
                else
                {
                    <td><img src="~/Content/Images/smile-neg.png" style="width: 25px; height: 25px" /></td>
                }
                <td align="center">
                    <div>
                        @Html.ActionLink(feedback.WhoLeftName, "Info", "Profile", new {prof = feedback.WhoLeftName}, null)
                    </div>
                </td>
                <td align="center">@feedback.Comment</td>
                <td align="center">@feedback.Date.ToShortDateString()</td>
            </tr>
        }
    </table>*@
<div class="col-lg-12">
    <h5>Отзывы <span class="feed-count-label">@Model.PageInfo.TotalItems</span></h5>
</div>

@foreach (var feedback in Model.Feedbacks)
{


    <div class="col-lg-7">
        <div class="feed-item">
            <div class="row">
                <div class="col-sm-12">
                    <div class="feed-item-header">@feedback.OfferHeader</div>
                    <div class="feed-item-comment">@feedback.Comment</div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-12">
                    <hr class="feed-item-line" />
                    <div class="feed-item-info">
                        @if (feedback.Grade == Emotions.Good)
                        {
                        <i class="info-rate-line icon-smile-pos-green icon-info-rate" style="height:16px"></i>
                        }
                        else
                        {
                        <i class="info-rate-line icon-smile-neg-gray icon-info-rate" style="height:16px"></i>
                        }

                        <span class="feed-item-date">@Html.Date(feedback.DateLeft.Value)</span>
                        <span class="feed-item-leftby">Оставлен пользователем: @Html.ActionLink(feedback.SenderName, "Info", "Profile", new { prof = feedback.SenderName }, null)</span>
                    </div>
                </div>

            </div>

        </div>
    </div>
    


}
    <div class="col-lg-12">
        @Html.PagedListPager(Model.PageInfo, "SelectPage")
    </div>



