@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/jquery-ui.min.css">
    <link rel="stylesheet" href="~/Content/range-slider.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    
    <link rel="stylesheet" type="text/css" href="~/Content/custom.css">
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <div class="container">
            <a href="#" class="navbar-brand">
                <img style="width: 110px" src="~/Content/Images/logo.png" alt="Alternate Text" />
            </a>

            <div class="collapse navbar-collapse left-bar" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        @Html.ActionLink("Купить", "Buy", "Offer", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Продать", "Create", "Offer", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Поддержка", "Support", "Some", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("FAQ", "Faq", "Some", null, new { @class = "nav-link" })
                    </li>
                </ul>





                @Html.Partial("_LoginPartial")

            </div>

        </div>

    </div>
    
    @RenderBody()
    <footer class="card-footer">
        <ul class="">
            <li>Home</li>
            <li>Home</li>
            <li>Home</li>
            <li>Home</li>
            <li>Home</li>
            <li>Home</li>
        </ul>
    </footer>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>

        $(document).ready(function () {
            //$(".nav-item a").each(function () {

            //    if (this.href == window.location.href) {
            //        $(this.parentNode).addClass("current");
            //    }
            //});
            $("#account-list a").each(function () {
                
                if (this.href.split('/', 4)[3] == window.location.href.split('/', 4)[3]) {
                    $(this.parentNode).addClass("active");
                }
            });
            $("#account-inner-list a").each(function () {
                if (this.href == window.location.href) {

                    $(this).addClass("active");
                }
            });

        });
    </script>
    <script>
        window.addEventListener('offline', function (e) { console.log('offline'); });

        window.addEventListener('online', function (e) { console.log('online'); });
        window.onunload = function () {
            $.get("/Offer/SetOffLineStatus", null, function () { });
        }
        if (navigator.onLine) {


            $.get("/Offer/SetOnLineStatus", null, function () { });

        }

    </script>
</body>
</html>
