@using Market.Web.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="interkassa-verification" content="18d2ecaede848d406285ce770c29a1ec" />
    <meta charset="utf-8" />
    <link rel="icon" href="~/Content/Images/icon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=cyrillic" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | @Request.Url.Host</title>
    <meta name="description" content="@ViewBag.Description">
    @Styles.Render("~/Content/css")





</head>
<body>

    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container">
            <a href="@Url.Action("Buy", "Offer")" class="navbar-brand">
                <img alt="Лого" width="120" src="~/Content/Images/logo.svg" />
            </a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse left-bar" id="navbarResponsive">
                <ul class="navbar-nav" id="left-bar">
                    <li class="nav-item @Html.IsSelected(actions: "buy", controllers: "offer")">
                        @Html.ActionLink("Купить", "Buy", "Offer", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item @Html.IsSelected(actions: "create", controllers: "offer")">
                        @Html.ActionLink("Продать", "Create", "Offer", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item @Html.IsSelected(actions: "contactus", controllers: "help")">
                        @Html.ActionLink("Поддержка", "ContactUs", "Help", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item @Html.IsSelected(actions: "faq", controllers: "help")">
                        @Html.ActionLink("FAQ", "Faq", "Help", null, new { @class = "nav-link" })
                    </li>
                </ul>





                @{Html.RenderPartial("_LoginPartial");}

            </div>

        </div>

    </div>
    <div class="container pb-5">

        @RenderBody()
    </div>
    <div class="container">
        <footer class="card-footer">
            <div class="text-center">
                <div class="row">
                    
                    <div class="col-md-12 text-center">

                        <ul class="ul-footer">
                            <li>@Html.ActionLink("Купить", "Buy", "Offer")</li>
                            <li>@Html.ActionLink("Продать", "Create", "Offer")</li>
                            <li>@Html.ActionLink("Связаться", "Contactus", "Help")</li>
                            <li>@Html.ActionLink("FAQ", "Faq", "Help")</li>
                            <li>@Html.ActionLink("Оферта", "PublicOffer", "Help")</li>
                        </ul>

                        <p class="mb-3">Контакты для связи: support@playerup.ru</p>
                        <p class="mb-3">Copyright © playerup.ru, 2018. Все права защищены.</p>
                        <ul class="ul-footer-social">
                            <li>
                                <a href="" class="vk-link">
                                    <img src="~/Content/Images/vk.png" alt="vk" />
                                </a>                                                              
                            </li>
                            <li>
                                <a href="" class="facebook-link">
                                    <img src="~/Content/Images/facebook.png" alt="vk" />
                                </a>
                            </li>
                            <li>
                                <a href="" class="steam-link">
                                    <img src="~/Content/Images/steam.png" alt="vk" />
                                </a>
                            </li>
                        </ul>
                    </div>
                    
                </div>

            </div>

        </footer>
    </div>

    @Scripts.Render("~/bundles/main")
    <script src="~/signalr/hubs">
    </script>
    <script src="~/Scripts/signalr-messages.js">
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
