@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/range-slider.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
    

</head>
<body>

    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container">
            <a href="@Url.Action("Buy","Offer")" class="navbar-brand">
                <img width="170" src="~/Content/Images/logo.svg"/>
            </a>

            <div class="collapse navbar-collapse left-bar" id="navbarResponsive">
                <ul class="navbar-nav" id="left-bar">
                    <li class="nav-item">
                        @Html.ActionLink("Купить", "Buy", "Offer", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Продать", "Create", "Offer", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Поддержка", "ContactUs", "Help", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("FAQ", "Faq", "Help", null, new { @class = "nav-link" })
                    </li>
                </ul>





                @Html.Partial("_LoginPartial")

            </div>

        </div>

    </div>

    @RenderBody()
    <footer class="card-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <dl>
                        <dt>Сайт</dt>
                        <dd>@Html.ActionLink("О Нас", "s")</dd>
                        <dd>@Html.ActionLink("Как купить", "s")</dd>
                        <dd>@Html.ActionLink("Как продать", "s")</dd>
                        <dd>@Html.ActionLink("Лицензионное соглашение", "s")</dd>
                        <dd>@Html.ActionLink("Карта сайта", "s")</dd>
                    </dl>
                </div>
                <div class="col-lg-4">
                    <h3 class="text-700 mb-4">О сервисе</h3>
                    <p style="font-size:14px; line-height: 28px">
                        Виртуальная площадка для продажи и покупки аккаунтов и цифровой информации безопасным и быстрым способом.
                    </p>
                </div>
                <div class="col-lg-4">
                    <h3 class="text-700 mb-4">Платежные системы</h3>
                    <img src="~/Content/Images/payment-methods.png" width="350" alt="Alternate Text" />
                </div>
            </div>

        </div>

    </footer>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/Main.js"></script>

    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <!--Ссылка на автоматически сгенерированный скрипт хаба SignalR -->
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        

        $(function () {

            var messageHub = $.connection.messageHub;

            messageHub.client.updateMessage = function (counter, name) {

                drowMessage(counter);
                
            };

            messageHub.client.updateMessageInDialog = function (userName, companionId, companionName, counter,lastMessage,date, dialogId) {

                drowMessageInDialog(userName, companionId, companionName, counter, lastMessage, date,  dialogId);
                SetDialogsClickable();
                SetDeleteDialogClickable();
            };

            messageHub.client.addMessage = function (senderId, receiverName, senderName, messageBody, date) {
             
                var messagesContainer = $('#messages-col');
                var messageBlock = $('#message-block-element').last().clone();
                
                messageBlock.find('#message-block-img').attr('src', '/profile/photo?UserId=' + senderId);
                messageBlock.find('#sender-name').text(senderName);
                messageBlock.find('#created-date').text(date);
                messageBlock.find('#message-body').text(messageBody);
                messageBlock.removeAttr('style');
                messagesContainer.append(messageBlock);
                
                $('#messageBody').val('');
                var objDiv = $('#messages-col');
                objDiv.scrollTop(objDiv[0].scrollHeight);
                

            };

            messageHub.client.addDialog = function (companionId, companionName, dialogId) {

                var dialogsTable = $('#dialogs-table');
                var dialogBlock = $('#dialog-block').clone();
                dialogBlock.attr('id', 'message-row-' + dialogId);
                
                dialogBlock.removeAttr('style');     
                
                dialogsTable.append(dialogBlock);
                
            };
            $.connection.hub.start();

        });
        
    </script>
    @*<script>
            window.addEventListener('offline', function (e) { console.log('offline'); });

            window.addEventListener('online', function (e) { console.log('online'); });
            window.onunload = function () {
                $.get("/Offer/SetOffLineStatus", null, function () { });
            }
            if (navigator.onLine) {


                $.get("/Offer/SetOnLineStatus", null, function () { });

            }

        </script>*@
    @RenderSection("scripts", required: false)
</body>
</html>
