@using Microsoft.AspNet.Identity

<ul class="nav navbar-nav ml-auto">
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "nav navbar-nav navbar-right" }))
        {
            @Html.AntiForgeryToken()
            <li class="nav-item position-relative" id="orders" style="padding-top: 28px">
                <a href="@Url.Action("OrderBuy", "Order")" class="ml-0 mr-0">
                    @{
                        var ordersCount = Html.Action("GetOrdersCount", "Order");
                        if (ordersCount != null)
                        {
                            <div class="orders-count">@ordersCount</div>
                        }
                    }
                    <img width="23" alt="Уведомления" height="23" class="notice" src="~/Content/Images/notices.svg" />
                </a>
            </li>
            <li class="nav-item position-relative" id="messagess" style="padding-top: 28px">
                <a href="@Url.Action("Inbox", "Message")" class="ml-0 mr-0">
                    @{
                        var messagessCount = Html.Action("GetMessagessCount", "Message");
                        if (messagessCount != null)
                        {
                            <div id="top-counter" class="messagess-count message-count-icon-pos">@messagessCount</div>
                        }
                    }
                    <img alt="Сообщения" width="23" height="23" class="message" src="~/Content/Images/messages.svg" />
                </a>
            </li>

            <li class="nav-item">

                <a href="@Url.Action("CashIn", "Checkout")" class="nav-link">
                    <span class="text-700">@Html.Action("Balance", "Profile")</span>
                </a>
            </li>
            <li class="nav-item" style="padding-top: 22px">
                <a href="@Url.Action("Inbox", "Message")">
                    <img alt="Аватар" class="img-circle avatar-32" src="@Html.Action("Photo", "Profile" , new { userId = User.Identity.GetUserId() })"/>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" id="download" aria-expanded="true" aria-atomic="true">
                    @User.Identity.Name
                    <span class="caret"></span>
                </a>
                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 45px, 0px); top: 0px; left: 0px; will-change: transform;">
                    @Html.ActionLink("Сообщения", "Inbox", "Message", null, new { @class = "dropdown-item" })
                    @Html.ActionLink("Предложения", "Active", "Offer", null, new { @class = "dropdown-item" })
                    @Html.ActionLink("Заказы", "OrderBuy", "Order", null, new { @class = "dropdown-item" })
                    @Html.ActionLink("Отзывы", "All", "Feedback", null, new { @class = "dropdown-item" })
                    @Html.ActionLink("Настройки", "Settings", "Account", null, new { @class = "dropdown-item" })

                    @Html.ActionLink("Фото", "Upload", "Profile", null, new { @class = "dropdown-item" })
                    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>
                </div>
            </li>
        }
    }
    else
    {
        <li class="nav-item">
            @Html.ActionLink("Войти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-signin" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-signup" })
        </li>
        
    }
</ul>
