@model Market.Web.ViewModels.OfferListViewModel
@using Market.Web.Helpers

<div class="info-teble-content">
    <div class="offer-filter">
        <div class="row mb-3">

            <div class="col-sm-4">
                @Html.TextBox("SearchString", Model.SearchInfo.SearchString, new { @class = "form-control", id = "searchString", placeholder = "Поиск..." })
            </div>
            <div class="col-sm-4">
                <select class="form-control" id="sort-game">
                    <option value="all" selected="selected">Все</option>
                    @foreach (var game in Model.Games)
                    {
                        <option value="@game.Value">@game.Name</option>
                    }

                </select>

            </div>
            <div class="col-sm-4">
                <input type="button" name="name" value="Поиск" class="btn btn-info" onclick="SearchOffersInfo()" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-12">
                Найдено: @Model.PageInfo.TotalItems
            </div>
        </div>


    </div>

    <div class="table-offers">
        <div class="offer-line">
            <div class="offer-game">
                Игра
            </div>
            <div class="offer-header">
                Заголовок
            </div>
            <div class="offer-price">
                Цена
            </div>
            <div class="offer-link">

            </div>
        </div>
        @foreach (var offer in Model.Offers)
        {
            <div class="offer-line">
                <div class="offer-game">
                    @offer.Game.Name
                </div>
                <div class="offer-header">
                    @offer.Header
                </div>
                <div class="offer-price">
                    @offer.Price
                </div>
                <div class="offer-link">
                    @Html.ActionLink("Детали", "Details", "Offer", new { id = offer.Id }, new { @class = "btn btn-info" })
                </div>
            </div>

        }
    </div>
    <input type="hidden" id="page" value="1" />
</div>
@Html.PagedListPager(Model.PageInfo, "SelectPageOffersInfo")



