
@model Market.Web.ViewModels.SearchViewModel




<div class="col-lg-3">
    <form id="searchForm" class="bs-component">
        <div class="filter card mb-4">
            <div class="filter-header">
                <h3 class="text-700">Фильтры</h3>
            </div>
            <div class="filter-body">
                <div class="filter-parameters">

                    <div class="form-group">
                        @Html.TextBox("SearchString", Model.SearchString, new { @class = "form-control", id = "searchString", placeholder = "Поиск..." })
                    </div>

                    <div class="form-group">
                        <div class="custom-control custom-checkbox mr-sm-2">
                            @{ string checkedSerchInDiscription = Model.SearchInDiscription ? "checked" : ""; }

                            <input type="checkbox" @checkedSerchInDiscription class="custom-control-input" id="searchInDiscription" onchange="SearchOffers();">

                            <label class="custom-control-label" for="searchInDiscription">Искать в описании</label>
                        </div>
                        <div class="custom-control custom-checkbox mr-sm-2">
                            @{ string checkedOnline = Model.IsOnline ? "checked" : ""; }

                            <input type="checkbox" @checkedOnline class="custom-control-input" id="isOnline" onchange="SearchOffers();">
                            <label class="custom-control-label" for="isOnline">Только онлайн</label>
                        </div>

                    </div>
                    <div class="row mb-4">
                        <div class="col-sm-6">
                            <div class="filter-btn">
                                <input type="button" value="Поиск" class="btn btn-search font-size-18" onclick="SearchOffers();" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="filter-btn">
                                <input type="button" value="Сброс" class="btn btn-reset font-size-18" onclick="ResetOffers();" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="filter-label">
                            <span>ЦЕНА</span>
                        </div>


                        <div class="price-container row">
                            <div class="filter-price-from">
                                @Html.TextBox("PriceFrom", Math.Round(Model.PriceFrom, 0), new { @class = "form-control form-control-sm", id = "priceFrom" })

                            </div>
                            <div class="filter-price-separartor">
                                <div class="range-separate">
                                    &#8211
                                </div>
                            </div>

                            <div class="filter-price-to">
                                @Html.TextBox("PriceTo", Math.Round(Model.PriceTo, 0), new { @class = "form-control form-control-sm", id = "priceTo" })
                            </div>
                        </div>
                        <section class="range-slider">
                            <span class="rangeValues"></span>
                            <input value="@Math.Round(Model.PriceFrom, 0)" min="@Math.Round(Model.MinGamePrice, 0)" max="@Math.Round(Model.MaxGamePrice, 0)" step="1" type="range">
                            <input value="@Math.Round(Model.PriceTo, 0)" min="@Math.Round(Model.MinGamePrice, 0)" max="@Math.Round(Model.MaxGamePrice, 0)" step="1" type="range">
                        </section>

                        <div id="slider_price"></div>
                    </div>
                    <div class="form-group">
                        <div id="filter-item" class="filter-group">

                        </div>
                    </div>
                    </div>

                </div>
            @*<div class="filter-specific">
            <label class="filter-label">
                <span>РАНГ</span>
            </label>
            <div id="filter-item">

            </div>
        </div>*@
            
            
            
        </div>
    </form>
</div>

