@model Market.Web.ViewModels.CreateFilterItemViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Добавить элемент к фильтру</h2>

<div class="row">
    <div class="col-12">
        @using (Html.BeginForm("Create", "FilterItem"))
        {
            @Html.LabelFor(m => m.Game.Name)
            @Html.DropDownListFor(m => m.Game.Value, Model.Games, new { @class = "form-control", onchange = "SelectFilterItem(value, false);" })
            <div id="filter-item"></div>
            @Html.CheckBoxFor(m => m.CreateForExistsItem, new { @class = "form-control" })
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.LabelFor(m => m.Value)
            @Html.TextBoxFor(m => m.Value, new { @class = "form-control" })
            <input type="submit" name="Two" value="Создать2" />
        }
    </div>
</div>

<script>

    function SelectFilterItem(g, isListView) {

        $.ajax({
            url: "/FilterItem/GetFiltersForGameJson",
            contentType: "application/json",
            dataType: "json",
            type: "POST",
            data: JSON.stringify({ game: g }),

            success: function (ranks) {
                var label = $("<label for='Filter.Value'>Фильтр</label>")
                var select = $("<select name='Filter.Value'></select>").addClass("form-control");
                for (var key in ranks) {
                    var option = $("<option></option>").val(ranks[key].Value).text(ranks[key].Name);
                    select.append(option);
                }
                $("#filter-item").empty().append(label).append(select);
                //var div = $('#rank');
                //var divRank = $('<div></div>');
                //div.empty();

                //if (Object.keys(data).length != 0) {

                //    divRank.addClass('form-group');


                //    if (g == 'dota2') {
                //        AddDota2RankFields(divRank, data, isListView);
                //    }
                //    else if (g == 'csgo') {
                //        AddCsgoRankFields(divRank, data, isListView);
                //    }
                //    div.append(divRank);

                //}
            },
            error: function myfunction() {
                alert("hi");
            }
        });
    }
</script>