@model Market.Web.ViewModels.DetailsFilterItemViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<ul>
    @foreach (var game in Model.Games)
    {

        <li>
            <img src="../../Content/Images/@game.Value/Icons/@game.Image" style="height:20px" alt="Alternate Text" />
            @game.Name (@game.Value)
            <ul>
                @foreach (var filter in game.Filters)
                {
                    <li>
                        @filter.Text (@filter.Value)
                        <ul>
                            @foreach (var filterItem in filter.FilterItems)
                            {
                                <li>
                                    <img src="../../Content/Images/@game.Value/Ranks/@filterItem.Image" alt="Alternate Text" style="width: 80px" />
                                    @filterItem.Name (@filterItem.Value)
                                    <ul></ul>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>

        </li>
    }
</ul>

