@model Market.Web.ViewModels.OrderViewModel
@{var cls = "";
    if (!Model.BuyerChecked)
    {
        cls = "warning-row";
    } 
}
<tr id="message-row-@Model.Id" class="@cls">
    <td>@Html.DisplayFor(m => m.OfferHeader) </td>
    <td>@Html.DisplayFor(m => m.SellerName) </td>
    <td>@Html.DisplayFor(m => m.OfferPrice)</td>
    <td>@Model.CurrentStatus.DuringName</td>
    <td>@Html.ActionLink("Детали", "BuyDetails", "Order", new { id = Model.Id }, new { @class = "btn btn-details" })</td>
</tr>
