@model Market.Web.ViewModels.DetailsOrderViewModel

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-info">
                <h2>Заказы</h2>
                <p class="lead">Здесь отображается информация по заказам</p>
            </div>
            @{Html.RenderAction("AccountMenu", "Account"); }
            <div class="account-container bg-white">
                <div style="padding: 20px">
                    <a href="@Request.UrlReferrer"><span style="font-weight: 700">&#10218;</span> <span>Назад</span> </a>
                </div>

                <div class="order-details-head ">
                    <div class="order-details-title">
                        <h4>Информащия о заказе</h4>
                    </div>


                </div>
                <div class="order-details-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="alert alert-dismissible alert-warning">
                                <span>Текущий статус заказа: <span class="text-700">@Model.CurrentStatusName</span></span>
                            </div>
                        </div>
                    </div>
                    <div class="order-details-row row">
                        <div class="order-details-col col-md-4">
                            <label>Предложение (Оффер)</label>
                        </div>
                        <div class="order-details-col col-md-8">
                            <span>@Html.ActionLink(Model.OfferHeader, "Details", "Offer", new { id = Model.OfferId }, null)</span>
                        </div>
                    </div>
                    <div class="order-details-row row">
                        <div class="order-details-col col-md-4">
                            <label>Продавец</label>
                        </div>
                        <div class="order-details-col col-md-8">
                            <span>@Html.ActionLink(Model.SellerName, "Info", "Profile", new { userName = Model.SellerName }, null)</span>
                        </div>
                    </div>
                    <div class="order-details-row row">
                        <div class="order-details-col col-md-4">
                            <label>Цена</label>
                        </div>
                        <div class="order-details-col col-md-8">
                            <span>@Model.OfferPrice</span>
                        </div>
                    </div>
                    <div class="order-details-row row">
                        <div class="order-details-col col-md-5">
                            @if (Model.ShowAccountInfo)
                            {
                                <div class="alert alert-dismissible alert-primary">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <label>Логин:</label>
                                            @Html.DisplayFor(m => m.AccountInfo.Login)
                                        </div>
                                        <div class="col-lg-12">
                                            <label>Пароль:</label>
                                            @Html.DisplayFor(m => m.AccountInfo.Password)
                                        </div>
                                        <div class="col-lg-12">
                                            <label>Почта:</label>
                                            @Html.DisplayFor(m => m.AccountInfo.Email)
                                        </div>
                                        <div class="col-lg-12">
                                            <label>Дополнительная информация:</label>
                                            @Html.DisplayFor(m => m.AccountInfo.AdditionalInformation)
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (Model.ShowConfirm)
                            {
                                using (Html.BeginForm("ConfirmOrder", "Checkout", null, FormMethod.Get, null))
                                {
                                    @Html.HiddenFor(m => m.ModeratorId)
                                    @Html.Hidden("OrderId", Model.Id)
                                    <input type="submit" value="Подтвердить получение" class="btn btn-provide mr-3" />
                                }

                            }
                            else if (Model.ShowFeedbackToSeller)
                            {

                                using (Html.BeginForm("GiveToSeller", "Feedback", null, FormMethod.Get, null))
                                {
                                    @Html.Hidden("receiverId", Model.SellerId)
                                    @Html.Hidden("OrderId", Model.Id)
                                    <input type="submit" value="Оставить отзыв продавцу" class="btn btn-leavefeedback mr-3" />
                                }
                            }
                            @if (Model.ShowCloseButton)
                            {
                                @Html.ActionLink("Закрыть сделку", "Close", "Order", new { orderId = Model.Id }, new { @class = "btn btn-close mr-3" })
                            }

                            @if (Model.ShowPayButton)
                            {
                                using (Html.BeginForm("Paid","Checkout", FormMethod.Post))
                                {
                                    <input type="hidden" name="orderId" value="@Model.Id" />
                                    <input type="submit" name="Pay" value="Оплатить" class="btn btn-pay mr-3" />
                                }
                            }
                        </div>
                    </div>

                </div>
                <div class="order-details-log-head">
                    <div class="order-details-title">
                        <h4>
                            Журнал событий
                        </h4>
                    </div>


                </div>
                <div class="order-details-log-body">
                    @foreach (var status in Model.StatusLogs)
                    {

                        <div class="order-details-node">
                            <div class="node-circle"></div>
                            <div class="node-name">@status.OldStatus.FinishedName</div>
                            <div class="node-date">@status.TimeStamp</div>
                        </div>

                    }
                </div>
                @*<div class="row">
                        <div class="col-md-12">
                            @Html.PageLinks(Model.PagingInfo, x => Url.Action("Inbox", new { page = x, sortOrder = ViewBag.CurrentSort, searchString = ViewBag.SearchString }))
                        </div>
                    </div>*@
            </div>
        </div>

    </div>
</div>
