@model Market.Web.ViewModels.DetailsOrderViewModel

@{
    ViewBag.Title = "Информация о заказе (продажа)";
}

<div class="row">
    <div class="col-lg-12">
        <div class="page-info">
            <h2>Заказы</h2>
            <p class="lead">Здесь отображается информация по заказам</p>
        </div>
        @{Html.RenderAction("AccountMenu", "Account"); }
        <div class="account-container bg-white">
            @{Html.RenderPartial("_AccountOrdersMenu", Model); }
            <div class="back">
                <a href="@Request.UrlReferrer"><span style="font-weight: 700">&#10218;</span> <span>Назад</span> </a>
            </div>
            @if (TempData["orderSellStatus"] != null)
            {
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-dismissible alert-success">
                            <span>Стстус заказа изменился: <span class="text-700">@Model.CurrentStatusName</span></span>
                        </div>
                    </div>
                </div>
            }
            <div class="order-details-head ">
                <div class="order-details-title">
                    <h4>Информащия о заказе</h4>
                </div>
            </div>
            <div class="order-details-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-dismissible alert-warning">
                            <span>Текущий статус заказа: <span class="text-700">@Model.CurrentStatusName</span></span>
                        </div>
                    </div>
                </div>
                <div class="order-details-row row">
                    <div class="order-details-col col-md-4">
                        <label>Предложение (Оффер)</label>
                    </div>
                    <div class="order-details-col col-md-8">
                        <span>@Html.ActionLink(Model.OfferHeader, "Details", "Offer", new { id = Model.OfferId }, null)</span>
                    </div>
                </div>
                <div class="order-details-row row">
                    <div class="order-details-col col-md-4">
                        <label>Покупатель</label>
                    </div>
                    <div class="order-details-col col-md-8">
                        <span>@Html.ActionLink(Model.BuyerName, "Info", "Profile", new { userName = Model.BuyerName }, null)</span>
                    </div>
                </div>
                <div class="order-details-row row">
                    <div class="order-details-col col-md-4">
                        <label>Гарант</label>
                    </div>
                    <div class="order-details-col col-md-8">
                        <span>@Html.ActionLink(Model.ModeratorName ?? "Еще нет", "Info", "Profile", new { userName = Model.ModeratorName }, null)</span>
                    </div>
                </div>
                <div class="order-details-row row">
                    <div class="order-details-col col-md-4">
                        <label>Цена</label>
                    </div>
                    <div class="order-details-col col-md-8">
                        <span>@Html.DisplayFor(m => m.OfferPrice)</span>
                    </div>
                </div>
                <div class="order-details-row row">
                    <div class="order-details-col col-md-12">
                        @if (Model.ShowCloseButton)
                        {
                            using (Html.BeginForm("Close", "Order", FormMethod.Post, new { @onsubmit = "return confirm('Вы уверены, что хотите закрыть сделку?');" }))
                            {
                                <input type="hidden" name="id" value="@Model.Id" />
                                <input type="submit" name="Close" value="Закрыть сделку" class="btn btn-order-close mt-3" />
                            }
                        }

                        @if (Model.ShowProvideData)
                        {
                            using (Html.BeginForm("ProvideData", "Checkout", null, FormMethod.Get, null))
                            {
                                @Html.HiddenFor(m => m.ModeratorId)
                                @Html.HiddenFor(m => m.Id)
                                @Html.HiddenFor(m => m.BuyerId)
                                @Html.HiddenFor(m => m.SellerId)
                                <input type="submit" value="Предоставить данные" class="btn btn-order-provide mt-3" />
                            }

                        }
                        else if (Model.ShowFeedbackToBuyer)
                        {

                            <input id="orderId" value="@Model.Id" type="hidden" />
                            <input id="receiverId" value="@Model.BuyerId" type="hidden" />

                            <input type="submit" id="givefeed" value="Оставить отзыв покупателю" class="btn btn-order-leavefeedback mt-3" />
                        }
                    </div>
                </div>
            </div>
            <div class="order-details-log-head">
                <div class="order-details-title">
                    <h4>
                        Журнал событий
                    </h4>
                </div>
            </div>
            <div class="order-details-log-body">

                @foreach (var status in Model.StatusLogs)
                {

                    if (status.NewStatus.Value != Market.Model.Models.OrderStatuses.MiddlemanClosed &&
                        status.NewStatus.Value != Market.Model.Models.OrderStatuses.SellerClosed &&
                        status.NewStatus.Value != Market.Model.Models.OrderStatuses.BuyerClosed &&
                    status.NewStatus.Value != Market.Model.Models.OrderStatuses.ClosedAutomatically)
                    {
                        <div class="order-details-node">
                            <div class="node-circle"></div>
                            <div class="node-name">@status.OldStatus.FinishedName</div>
                            <div class="node-date">@status.TimeStamp</div>
                        </div>
                    }
                    if (status.NewStatus.Value == Market.Model.Models.OrderStatuses.ClosedSuccessfully ||
                    status.NewStatus.Value == Market.Model.Models.OrderStatuses.MiddlemanClosed ||
                    status.NewStatus.Value == Market.Model.Models.OrderStatuses.SellerClosed ||
                    status.NewStatus.Value == Market.Model.Models.OrderStatuses.BuyerClosed ||
                    status.NewStatus.Value == Market.Model.Models.OrderStatuses.ClosedAutomatically)
                    {
                        <div class="order-details-node">
                            <div class="node-circle"></div>
                            <div class="node-name">@status.NewStatus.FinishedName</div>
                            <div class="node-date">@status.TimeStamp</div>
                            <div class="node-circle-final"></div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>

</div>


<div id="modal-dialog" class="modal">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Оставить отзыв покупателю</h4>
                <button type="button" id="close" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <input type="hidden" id="receiverId" name="ReceiverId" value="@Model.Id" />

            <div class="modal-body">

                <div class="form-group text-center">
                    <div class="row mb-4">
                        <div class="col-sm-12">
                            <span>Выберите оценку</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="ml-2 mr-2">

                                <input type="radio" id="customRadio1" hidden="hidden" value="@Market.Model.Models.Emotions.Good" name="Grade" class="smile-radio position-absolute" checked="">
                                <img src="~/Content/Images/feed-smile-pos.png" />
                            </label>

                            <label class="ml-2 mr-2">
                                <input type="radio" id="customRadio1" hidden="hidden" value="@Market.Model.Models.Emotions.Bad" name="Grade" class="smile-radio position-absolute">
                                <img src="~/Content/Images/feed-smile-neg.png" />
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <textarea id="comment" class="form-control" rows="5"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button id="leaveFeedback" type="button" onclick="SendMessage()" class="btn btn-submit">Оставить отзыв</button>
            </div>



        </div>
    </div>
</div>

<div id="m-dialog" class="modal-send">
    <div class="modal-dialog" role="document">
        <div id="m-content-send" class="modal-content-send">
            <div id="m-body" class="modal-body">
                <span class="text-white text" style="font-size: 18px">Спасибо за ваш отзыв!</span>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery-modal-feedback.js"></script>
}